.card{
    background-color: gray;
    border:2px solid blue;
    box-shadow: 2px 2px 3px green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.card h1{
    color:white 
}
.Card p{
    color:orange;

}

.card button{
    background-color: orange;
    color:white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}